.record {
    display: flex;
    min-width: 112rem;
    border-bottom: 1px solid #E5E7EB;
}
.column {
    display: flex;
    min-width: 18rem;
    min-height: 2.5rem;
    align-items: center;
    padding: 0 1rem;
    color: #313949;;
    text-align: left;
    font-size: 15px;
}