.formActions {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 0 5px #ccc;
    z-index: 10;
    background-color: white;
}
.formActions h2 {
    margin: 1rem;
    margin-left: 2.5rem;
    color: #374151;
}
.formActions div {
    margin: 1rem;
    margin-right: 2rem;
}

.formActions div button {
    padding: 0.4rem 1rem;
    margin-right: 1rem;
    outline: none;
    cursor: pointer;
    font: inherit;
    border-radius: 6px;
    font-weight: inherit;
}

.alt {
    background-color: #E5E7EB;
    border: 1px solid #E5E7EB;
}
.alt:hover {
    background-color: #D1D5DB;
}

.save {
    background-color: #3B82F6;
    border: 1px solid #3B82F6;
    color: white;
}
.save:hover {
    background-color: #2563EB;
}