.leadsContainer {
   display: flex;
   justify-content: space-between;
   position: relative;
}


.leadsrecords {
    width: 89rem;
    height: 81vh;
    overflow: auto;
    background: #fff;
    margin: 1rem 0;
    border-radius: 10px;
    position: relative;
}

.leadsrecords::-webkit-scrollbar {
    display: none;
}
.lead-columns {
    display: flex;
    min-width: 112rem;
    border-bottom: 1px solid #E5E7EB;
}


input[type="checkbox"] {
    outline: none;
    padding: .5rem !important;
}

.column {
    display: flex;
    min-width: 18rem;
    min-height: 2.5rem;
    align-items: center;
    padding: 0 1rem;
    color: #313949;
    font-weight: bold;
    text-align: left;
}
.column:nth-child(2) {
    margin-left: 4rem;
}

.record {
    display: flex;
    min-width: 11rem;
    min-height: 2.5rem;
    align-items: center;
    padding: 0 1rem;
    color: #6B7280;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}