
.singleRecord {
    width: 100vw;
    margin-top: 0rem;
    min-height: 100vh;
}

.singleRecord-actions {
    width: 100%;
    height: 8vh;
    background: white;
    box-shadow: 5px 0 5px #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    border-bottom: 1px solid #dde4eb;
}
.back {
    display: flex;
    align-items: center;
    justify-content: center;
}
.back svg{
    font-size: 25px;
    color: lightslategrey;
    margin: 0 1rem;
}
.back svg:hover {
    cursor: pointer;
    color: rgb(90, 106, 121);
} 

.action button {
    padding: 6px 10px;
    margin: 0 1rem;
    background: white;
    outline: none;
    border-radius: 4px;

}
.action button:hover {
    cursor: pointer;
}

.convert {

}

.edit {

}

.clone {

}
.delete {
    background: #F87171 !important;
    outline: none;
    border: 1px solid #F87171;
    color: white;
    font: inherit;
}

.values {
    display: flex;
    flex-direction: row;
}

.rightPane {
    padding: 1rem;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.top {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    
}
.full {
    background: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    margin-bottom: 1rem;
}

.leadInfo {
    padding: 1rem;
    color: #1d1c1c;
    font-weight: bolder;

}

.field {
    display: flex;
    padding: 1rem .5rem;
    color: #373636;

}
.field .label {
    text-align: right;
}

.field .label, .field .value {
    padding: .5rem;
    width: 15rem;
    margin-right: 1rem;
}
.field .value {
    border: 1px solid white;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.field:hover .value {
    border: 1px solid #ccc;
}
.notes {
    border-radius: 10px;
    background: white;
    padding: 1rem;
    width: 100%;
}
.notes h1 {
    border-bottom: 1px solid #ccc;
    padding: .5rem;
    color: #4f4d4d;
    font-weight: bolder;
}

.hide {
    display: none;
}
.show {
    transform: scale(1);
}
